<!DOCTYPE html>
<html>
  <body>
    <h2>¡Bienvenido a la plataforma!</h2>
    <p>Hola,</p>
    <p>Para activar tu cuenta y la empresa <b>{{ company }}</b>, haz clic en el siguiente enlace:</p>
    <p>
      <a href="{{ url }}">Activar cuenta</a>
    </p>
    <p>Este enlace es válido por 8 horas.</p>
  </body>
</html>